.top-image {
    text-align: center;
}

section#imagesection {
    margin: auto;
    padding-top: 10px;
}
div#imagesectionleft {
    float: left;
    margin-right: 10px;
}
div#imagesectionright {
    margin: auto;
}

.footer img {
    width: 60px;
    height: 60px;
}